src/main/mule/cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7bec99af-1539-4f13-a446-1fa0d9898f84" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demoFlow" doc:id="a09b95db-e12f-4c9a-ac8a-ec69808d5901" >
		<http:listener doc:name="Listener" doc:id="b727ca37-6096-494e-829a-2f804ef8d74a" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="aaca043b-d9f8-4f6d-9ec6-9ed03bb691b3" />
		<logger level="INFO" doc:name="Logger" doc:id="227c1310-d9cb-4cab-b968-a2e48de3b68a" message="#[payload]"/>
	</flow>
</mule>
